<h1>Book detail</h1>
<div>
    <%= image_tag @book.get_image %>
    <p>username <%= @book.user.name %></p>
    <p><%= link_to @book.title, book_path(@book.id) %></p>
    <p>Opinion <%= @book.body %></p>
</div>